.card-background {
  background-color: rgb(221, 219, 219);
  border-radius: 0.5rem;
  filter: brightness(70%);
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.822);
  filter: blur(10%);
  display: flex;
  align-items: center;
  padding: 0.1rem;
}
.card-background img {
  width: 8rem;
}
