.restart-button {
  position: fixed;
  left: 1rem;
  top: 1rem;
  border-radius: 15rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a970a4b;
  cursor: pointer;
  opacity: 80%;
  z-index: -1;
}
